.resume{
    width: 70%;
    height: 80%;
    margin: 0 auto;
    display:flex;
  }
  
  .main{
    width: 70%;
    height: 80%;
    margin: 0;
    padding: 0.5rem 0.5rem;
    background-color: rgb(190, 240, 247);
  }
  #name{
    color: red;
  }
  
  /* .element{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  } */
  @media screen  and (max-width:900px){
  
    .main{
      width: 40%;
      height: 60%;
    }
  }